.navbar-page {
  display: flex;
  justify-content: space-between; /* Separa título (esquerda) e links (direita) */
  align-items: center;
  padding: 3px 30px;
  background-color: #3A5F6F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-page {
  color: #FFF;
  font-size: 16px;
  margin: 0;
}

.navbar-link {
  display: flex;
  gap: 15px; /* Espaçamento entre os links */
  align-items: center;
}

.navbar-link a {
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.2s;
  padding: 8px 16px;
}

.navbar-link a:hover {
  color: #999999;
  text-decoration: underline;
}

/* Link ativo (opcional) */
.navbar-link a.active {
  font-weight: bold;
  border-bottom: 2px solid #FFF;
}