
.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-button .button-login {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #3A5F6F;
  color: #FFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}

.container-button .button-login:hover {
  opacity: 0.9;
}